	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	
	.main_container{
	  width:63%;
	  padding: 15px 25px;
	margin:15px auto;
	border:1px solid;}
      	  
	
	.head {
	 display:flex;
    gap: 11px;
    font-size: 9px;
    font-family: 'Poppins Bold';
    }
	
	.head p{
		    font-size: 9px;
    font-family: 'Poppins Bold';
    }
	
	#image{
    padding: 15px 0px;
    display: grid;
    grid-template-columns: repeat(2,33%);
    grid-template-rows: repeat(2,48%);
	gap:10px;
	
	}
	
	.image_section1,.image_section2,.image_section3,.image_section4{
		background-color:white;
	}
	.box1{
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
	}
	.box2{
	grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;	
	}
	.t-shirts{
		width:100%;
		height:100%;
		border-radius:5px;
	}
	
    .details{    width: 64%;
    margin-top: 6px;}
	
	h1{    font-size: 20px;
    font-family: 'Poppins Medium';
	margin-top: 17px;}
	
	p{margin-top: 13px;
    font-size:10px;}
	
	ul li{font-size:10px;
	    margin: 5px 11px;
		color:gray;}
		
		.color{
		color:gray}
	

    .sub_container{
		display:flex;}
		
	.line{
      width:1px;
	      background-color:lightgray;
    height: 312px;
    margin: 20px 13px;
	}
	
	
	.price_size{    width: 32%;}
	
	h4{font-size:10px;
	margin-top: 32px;}
	
	.dollar{
	font-family: auto;
	padding-left: 8px;}
	
	.star_icon{
		    font-size: 10px;
    margin: 20px 7px;}
	
	.star5{color:lightgray;}
	
	.circle{
	display:flex;
	gap:10px;
	align-items:center;}
	
	.circle1{
		
		width:26px;
		height:25px;
		border:2px solid gray;
		border-radius:18px;
		margin-left:4px;
		
	}
	
	
	.circle2{
		width:20px;
		height:20px;
		
		border-radius:20px;
		background-color:lightgray;
		
	}
	.circle3{
		width:20px;
		height:20px;
	
		border-radius:20px;
		background-color:black;
	}
	

	 .size{
		 display:flex;
		 justify-content:space-between;
	 }
	 
	 .guide{color:blue;
	 cursor:pointer;}
	 
	 .box_wrap{
		     margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
	margin-left: 8px;
	position:relative;
	 }
	 
	 .disable{
		 		 border:1px solid lightgray;
				 background-color:lightgray;
		 width:53px;
		 height:44px;
		 border-radius:3px;
		 display:flex;
		 align-items:center;
		 justify-content:center;
	 }
	 
	 .select_box{
		 		 border:1px solid blue;
		 padding:10px;
		 		 width:53px;
		 height:44px;
		 border-radius:3px;
		  display:flex;
		 align-items:center;
		 justify-content:center;
	 }
	 
	 .box{
		 border:1px solid lightgray;
		 padding:10px;
		 		 width:53px;
		 height:44px;
		  display:flex;
		 align-items:center;
		 justify-content:center;
		 border-radius:3px;
	 }
	 
	 .button{
		    background-color: #7703fc;
    padding: 8px 0px;
    width: 99%;    margin: 30px 0px;
	border-radius:5px;
	color:white;
	font-size:10px;
	
}
.des{
	cursor: not-allowed;
}
.strikeout{
    width: 2px;
    height: 66px;
    background-color: gray;
    transform: rotate(51deg);
    position: absolute;
    bottom: 41px;
    left: 26px;
	cursor: not-allowed;
}